/* ~~~ ~~ ~~ ~~ ~~ ~~  General  ~~ ~~ ~~ ~~ ~~ ~~~ */
body {
  background-color: #000;
}

.no-padding {
  padding: 0;
}

.content {
  color: #888;
}
/* ~~~ ~~ ~~ ~~ ~~ ~~  Navigation & Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
nav.navbar {
  border-bottom: double 3px #800;
  background-image: url("../../static/img/gamatex_logo.svg");
  background-size: 80px 57px;
  background-repeat: no-repeat;
  border-bottom: 3px double #800000;
  vertical-align: middle;
}

nav.navbar a {
  color: #DB8141;
  font-size: 18px;
}

nav.navbar li.active a {
  color: #C00;
  background-color: #000;
  font-weight: bold
}

nav.navbar div ul li>a:hover,
nav.navbar div ul li>a:focus {
  background-color: #DB8141;
  color: #800;
}

.navbar {
  margin: 0;
}

.navbar ul.nav {
  width: 100%;
  text-align: center;
}

.navbar ul.nav > li {
  float: none;
  display: inline-block;
}

@media (min-width: 481px) {
  nav.navbar {
    background-position: left center;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 480px) {
  nav.navbar {
    background-position: center top;
    padding-top: 57px;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
}

#content-wrapper > main.content {
  padding-bottom: 20px;
}

#page-footer {
  position: relative;
  margin-top: -20px;
  height: 20px;
  min-height: 20px;
  clear: both;
  padding: 0;
}

#page-footer .footer-content {
  border-top: dashed 1px #800;
  padding: 0;
  color: #AAA;
  font-size: 10px;
}

#page-footer ul {
  word-spacing: 15px;
}

#page-footer li {
  word-spacing: normal;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Home  ~~ ~~ ~~ ~~ ~~ ~~~ */
#home #discount-text {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #FFF;
  word-spacing: 5px;
  text-align: center;
  font-size: 24px;
}

#home #welcome-text {
  text-indent: 30px;
  text-align: justify;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Contact  ~~ ~~ ~~ ~~ ~~ ~~~ */
#contact {
  /*font-size: 10px;
  font-size: 3.5vw;*/
}

#contact .envelope-container {
  position: relative;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 18px;
  color: #FFF;
}

#contact img {
  width: 100%;
}

#contact .address-container {
  width: 100%;
  text-align: center;
}

#contact .email-and-tel {
  width: 100%;
}

#contact .email-container {
}

#contact .tel-container {
}

@media (min-width: 768px) {
  #contact .envelope-container {
    width: 66.67%;
  }

  #contact .address-container {
    position: absolute;
    top: 10%;
  }

  #contact .email-and-tel {
    position: absolute;
    bottom: 10%;
  }

  #contact .email-container {
    float: left;
    margin-left: 10%;
  }

  #contact .tel-container {
    float: right;
    margin-right: 10%;
  }
}

@media (max-width: 767px) {
  #contact .email-container {
    margin-top: 15px;
  }

  #contact .tel-container {
    margin-top: 15px;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Login  ~~ ~~ ~~ ~~ ~~ ~~~ */
.loginform-container {
  display: flex;
  margin-top: 6.5%;
}

#login .loginform {
  border: 1px solid #D87F40;
  margin: 0 auto;
}

#login .form-caption-container {
  background-color: #D87F40;
  color: #000;
  text-align: center;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Products  ~~ ~~ ~~ ~~ ~~ ~~~ */
#products main.content {
  padding-top: 15px;
}

#products .product {
  border: 1px solid #D87F40;
  background-color: #000;
  cursor: pointer;
}

#products .product:focus {
  box-shadow: 0px 0px 40px 0px #CC4422;
}

#products .product:hover {
  box-shadow: 0px 0px 40px 0px #D87F40;
}

#products .product .caption-wrapper {
  padding: 0px 9px;
}

#products .product .caption {
  color: #D87F40;
  padding: 0px;
}

#products .product .description-wrapper {
  min-height: 60px;
  padding: 0px 9px;
}

#products .product .description {
  color: #FFF;
  text-align: justify;
}

#products .product .price-wrapper {
  padding: 0px 9px;
  text-align: right;
}

#products .product .price {
  color: #D87F40;
  font-size: 1.2em;
  text-align: right;
  padding: 0px;
}

@media (max-width: 766px) {
  #products .product .description-wrapper {
    min-height: 1px;
    color: #F0F;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Product Detail ~~ ~~ ~~ ~~ ~~ ~~~ */
#product-detail h2.caption{
  padding: 0px;
  color: #D87F40;
  text-align: center;
  font-weight: bold;
}

#product-detail .img {
  text-align: center;
}

#product-detail .img img {
  cursor: pointer;
}

#product-detail .img img:hover {
  box-shadow: 0px 0px 10px 0px #D87F40;
}

#product-detail h4{
  color: #D87F40;
}

#product-detail div[dir="ltr"] {
  margin: 0;
}

#product-detail .description {
  color: #FFF;
  text-align: justify;
}

#product-detail .color-list,
#product-detail .composition-list,
#product-detail .size-list {
  color: #FFF;
  list-style: none;
  padding: 0;
}

#product-detail .size-list li,
#product-detail .color-list li {
  display: inline-block;
  border: solid 1px #D87F40;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
}

#product-detail .size-list li:focus,
#product-detail .size-list li:hover,
#product-detail .color-list li:focus,
#product-detail .color-list li:hover {
  box-shadow: 0px 0px 10px 0px #D87F40;
}

#product-detail .color-list li .color-sample {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

#product-detail .bg-green {
  background-color: green;
}

#product-detail .bg-red {
  background-color: red;
}

#product-detail .bg-blue {
  background-color: blue;
}

#product-detail .bg-khaki {
  background-color: #F0E68C;
}

#product-detail .composition {
  padding: 0;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  About  ~~ ~~ ~~ ~~ ~~ ~~~ */
#about p {
  color: #FFF;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  WebGL threejs  ~~ ~~ ~~ ~~ ~~ ~~~ */
#threejs h1 {
  margin-left: 2.5%;
}

#threejs p {
  margin-left: 2.5%;
}

#threejs #canvas-container {
  width: 95%;
  margin: auto;
  padding: 0;
  border: 4px solid #D87F40;
}

#threejs #canvas {
  width: 100%;
  padding: 0;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  WebGL x3dom  ~~ ~~ ~~ ~~ ~~ ~~~ */
#x3dom h1 {
  margin-left: 2.5%;
}

#x3dom .x3d-container {
  width: 95%;
  margin: auto;
}

#x3dom x3d {
  border: 4px solid #D87F40;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Order  ~~ ~~ ~~ ~~ ~~ ~~~ */
#order h2 {
  color: #D87F40;
  text-align: center;
}

#order table {
  max-width: 600px;
  margin: 15px auto 0 auto;
}

#order table,
#order th,
#order td {
  border: 1px solid #D87F40;
  vertical-align: middle;
}

#order tbody tr:hover td:not(.table-buttons) {
  background-color: #3F220D;
}

#order th {
  color: #D87F40;
  text-align: center;
  padding: 3px 5px;
  font-size: 1.1em;
}

#order td {
  color: #FFF;
  padding: 3px 5px;
}

#order td.number {
  text-align: center;
}

#order td.sum,
#order td.product-price,
#order td.total {
  text-align: right;
}

#order th.table-buttons,
#order td.table-buttons {
  text-align: center;
}

#order td.table-buttons {
  text-align: center;
}

#order td.table-buttons a.button-decrease,
#order td.table-buttons a.button-increase,
#order td.table-buttons a.button-remove {
  /*background-color: #D87F40;*/
  /*color: #600;*/
  color: #3F220D;
  background-color: #111;
  padding: 3px 10px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.828;
}

#order tr:hover td.table-buttons a.button-decrease,
#order tr:hover td.table-buttons a.button-remove {
  background-color: #500;
  color: #D87F40;
}

#order tr:hover td.table-buttons a.button-increase {
  background-color: #050;
  color: #D87F40;
}

#order tr td.table-buttons a.button-decrease:hover,
#order tr td.table-buttons a.button-remove:hover {
  color: #500;
  background-color: #D00;
}

#order tr td.table-buttons a.button-increase:hover {
  color: #050;
  background-color: #0D0;
}

#order td.total {
  color: #D87F40;
}
