body {
  background-color: #000;
}

nav {
  border-bottom: double 3px #800;
  background-image: url("../../static/img/gamatex_logo.svg");
  background-size: 80px 60px;
  background-repeat: no-repeat;
  border-bottom: 3px double #800000;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav li a {
  color: #db8141;
  text-decoration: none;
  font-size: 18px;
}

.content {
  color: #888;
}
