/* ~~~ ~~ ~~ ~~ ~~ ~~  General  ~~ ~~ ~~ ~~ ~~ ~~~ */
body {
  background-color: #000;
}

.no-padding {
  padding: 0;
}

.content {
  color: #888;
}
/* ~~~ ~~ ~~ ~~ ~~ ~~  Navigation & Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
nav.navbar {
  border-bottom: double 3px #800;
  background-image: url("../../static/img/gamatex_logo.svg");
  background-size: 80px 57px;
  background-repeat: no-repeat;
  border-bottom: 3px double #800000;
  vertical-align: middle;
}

nav.navbar a {
  color: #DB8141;
  font-size: 18px;
}

nav.navbar li.active a {
  color: #C00;
  background-color: #000;
  font-weight: bold
}

nav.navbar div ul li>a:hover,
nav.navbar div ul li>a:focus {
  background-color: #DB8141;
  color: #800;
}

.navbar {
  margin: 0;
}

.navbar ul.nav {
  width: 100%;
  text-align: center;
}

.navbar ul.nav > li {
  float: none;
  display: inline-block;
}

@media (min-width: 481px) {
  nav.navbar {
    background-position: left center;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 480px) {
  nav.navbar {
    background-position: center top;
    padding-top: 57px;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
}

#content-wrapper > main.content {
  padding-bottom: 20px;
}

#page-footer {
  position: relative;
  margin-top: -20px;
  height: 20px;
  min-height: 20px;
  clear: both;
  padding: 0;
}

#page-footer .footer-content {
  border-top: dashed 1px #800;
  padding: 0;
  color: #AAA;
  font-size: 10px;
}

#page-footer ul {
  word-spacing: 15px;
}

#page-footer li {
  word-spacing: normal;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Home  ~~ ~~ ~~ ~~ ~~ ~~~ */
#home #discount-text {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #FFF;
  word-spacing: 5px;
  text-align: center;
  font-size: 24px;
}

#home #welcome-text {
  text-indent: 30px;
  text-align: justify;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Contact  ~~ ~~ ~~ ~~ ~~ ~~~ */
#contact {
  /*font-size: 10px;
  font-size: 3.5vw;*/
}

#contact .envelope-container {
  position: relative;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 18px;
  color: #FFF;
}

#contact img {
  width: 100%;
}

#contact .address-container {
  width: 100%;
  text-align: center;
}

#contact .email-and-tel {
  width: 100%;
}

#contact .email-container {
}

#contact .tel-container {
}

@media (min-width: 768px) {
  #contact .envelope-container {
    width: 66.67%;
  }

  #contact .address-container {
    position: absolute;
    top: 10%;
  }

  #contact .email-and-tel {
    position: absolute;
    bottom: 10%;
  }

  #contact .email-container {
    float: left;
    margin-left: 10%;
  }

  #contact .tel-container {
    float: right;
    margin-right: 10%;
  }
}

@media (max-width: 767px) {
  #contact .email-container {
    margin-top: 15px;
  }

  #contact .tel-container {
    margin-top: 15px;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Login  ~~ ~~ ~~ ~~ ~~ ~~~ */
.loginform-container {
  display: flex;
  margin-top: 6.5%;
}

#login .loginform {
  border: 1px solid #D87F40;
  margin: 0 auto;
}

#login .form-caption-container {
  background-color: #D87F40;
  color: #000;
  text-align: center;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Products  ~~ ~~ ~~ ~~ ~~ ~~~ */
#products main.content {
  padding-top: 15px;
}

#products .product {
  border: 1px solid #D87F40;
  background-color: #000;
  cursor: pointer;
}

#products .product:focus {
  box-shadow: 0px 0px 40px 0px #CC4422;
}

#products .product:hover {
  box-shadow: 0px 0px 40px 0px #D87F40;
}

#products main.content .product .description-wrapper {
  min-height: 60px;
}

#products main.content .product .description {
  color: #FFF;
  text-align: justify;
}

#products main.content .product h3 {
  color: #D87F40;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  About  ~~ ~~ ~~ ~~ ~~ ~~~ */
#about p {
  color: #FFF;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  WebGL  ~~ ~~ ~~ ~~ ~~ ~~~ */
#webgl h1 {
  margin-left: 2.5%;
}

#webgl #canvas-container {
  width: 95%;
  margin: auto;
  padding-bottom: 1%;
}

#webgl #canvas {
  border: 4px solid #D87F40;
  width: 100%;
}
