/* ~~~ ~~ ~~ ~~ ~~ ~~  General  ~~ ~~ ~~ ~~ ~~ ~~~ */
body {
  background-color: #000;
}

.no-padding {
  padding: 0;
}

.content {
  color: #888;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Navigation & Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
nav.navbar {
  border-bottom: double 3px #800;
  background-image: url("../../static/img/gamatex_logo.svg");
  background-size: 80px 57px;
  background-repeat: no-repeat;
  border-bottom: 3px double #800000;
  vertical-align: middle;
}

nav.navbar a {
  color: #DB8141;
  font-size: 18px;
}

nav.navbar li.active a {
  color: #C00;
  background-color: #000;
  font-weight: bold
}

nav.navbar div ul li>a:hover,
nav.navbar div ul li>a:focus {
  background-color: #DB8141;
  color: #800;
}

.navbar {
  margin: 0;
}

.navbar ul.nav {
  width: 100%;
  text-align: center;
}

.navbar ul.nav > li {
  float: none;
  display: inline-block;
}

@media (min-width: 481px) {
  nav.navbar {
    background-position: left center;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 480px) {
  nav.navbar {
    background-position: center top;
    padding-top: 57px;
  }
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Footer  ~~ ~~ ~~ ~~ ~~ ~~~ */
html, body {
  height: 100%;
}

#content-wrapper {
  min-height: 100%;
}

#content-wrapper > main.content {
  padding-bottom: 20px;
}

#page-footer {
  position: relative;
  margin-top: -20px;
  height: 20px;
  min-height: 20px;
  clear: both;
  padding: 0;
}

#page-footer .footer-content {
  border-top: dashed 1px #800;
  padding: 0;
  color: #AAA;
  font-size: 10px;
}

#page-footer ul {
  word-spacing: 15px;
}

#page-footer li {
  word-spacing: normal;
}

/* ~~~ ~~ ~~ ~~ ~~ ~~  Home  ~~ ~~ ~~ ~~ ~~ ~~~ */
#home #discount-text {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #FFF;
  word-spacing: 5px;
  text-align: center;
  font-size: 24px;
}

#home #welcome-text {
  text-indent: 30px;
  text-align: justify;
}
