- name: Ensure nginx apt repository is up to date
  apt_repository: repo='ppa:nginx/stable'
  tags:
    - nginx

- name: Ensure nginx latest stable is installed
  apt: pkg=nginx state=latest update_cache=true
  tags:
    - nginx

- name: Ensure the default site is removed
  file: path=/etc/nginx/sites-{{ item }}/default state=absent
  with_items:
    - enabled
    - available
  tags:
    - nginx

- name: Ensure nginx is configured
  copy: src=nginx.conf dest=/etc/nginx/nginx.conf owner=root group=root
        mode=0664
  tags:
    - nginx

- name: Update uwsgi_params
  copy: src=uwsgi_params dest=/etc/nginx/uwsgi_params owner=root group=root
        mode=0664
  notify:
    - reload nginx
  tags:
    - nginx

- name: Create log directory
  file: path=/var/log/httpd/nginx state=directory owner=root group=root
        mode=2755
  tags:
    - nginx

- name: Start
  service: name=nginx state=started enabled=yes
  tags:
    - nginx


