---

- hosts: development
  sudo_user: root
  sudo: yes
  vars:
    show_debug_info: true
  vars_files:
    - vars/wega.yml
    - vars/sensitive.yml
  roles:
    - common
    - locales
    - postgresql
    - nginx
    - supervisor
    - wega
