---

- name: Ensure ansible's apt_repository dependency is installed
  apt: pkg=python-apt state=latest update_cache=true

- name: Create group apache
  group: name=apache state=present
  tags:
    - apache

- name: Create user apache
  user: name=apache home={{ apache_home }} group=apache state=present
  tags:
    - apache

- name: Install basic development utilities and tools
  apt: name={{ item }} state=present update_cache=yes
  with_items:
    - git
    - vim
    - screen
    - python2.7
    - python-virtualenv
    - npm
    - uwsgi
    - uwsgi-plugin-python
  tags:
    - packages

- name: Vim | copy vimrc
  copy: src=vimrc
        dest={{ item.path }}/.vimrc
        owner={{ item.user }}
        group={{ item.user}}
        mode=0644
  with_items:
    - {path: '/root', user: 'root' }
    - {path: '{{ apache_home }}', user: 'apache' }

- name: Git | Install git_env_askpass.py
  copy: src=git_env_askpass.py
        dest=/usr/local/bin/git_env_askpass.py
        owner=root
        group=root
        mode=0775
  tags:
    - git

- name: Git | Remember credentials
  command: git config --global credential.helper "cache --timeout=7200"
  tags:
    - git
