<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gamatex: {% block title %}{% endblock %}</title>
  {% block styles -%}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-basic.css') }}" media="all">
  {%- endblock %}
  {%- block scripts %}
  {% endblock -%}
</head>
<body id="{% block body_id %}{% endblock %}">
{% block navigation -%}
<nav>
  <ul>
    <li>
      <a href="{{ url_for('base.home') }}">Home</a>
    </li>
    <li>
      <a href="{{ url_for('products.index') }}">Products</a>
    </li>
    <li>
      <a href="{{ url_for('order.index') }}">Order</a>
    </li>
    <li>
      <a href="{{ url_for('base.contact') }}">Contact</a>
    </li>
    <li>
      <a href="{{ url_for('base.about') }}">About</a>
    </li>
    <li>
      <a href="{{ url_for('base.login') }}">Log in</a>
    </li>
  </ul>
</nav>
{%- endblock %}
<div class="content">{% block content %}{% endblock %}</div>
</body>
</html>
