<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gamatex: {% block title %}{% endblock %}</title>
  {% block styles -%}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-basic.css') }}" media="all">
  {%- endblock %}
  {%- block scripts %}
  {% endblock -%}
</head>

{% set active_page = active_page|default('') %}
{% macro render_nav_item(endpoint, text) -%}
<li{% if active_page == endpoint %} class='active'{% endif %}>
  <a href="{{ url_for(endpoint) }}">{{ text }}</a>
</li>
{%- endmacro %}

<body id="{% block body_id %}{% endblock %}">
  <div id="content-wrapper">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="">
          <ul class="nav">
            {{ render_nav_item('base.home', 'Home') }}
            {{ render_nav_item('products.index', 'Products') }}
            {{ render_nav_item('order.index', 'Order') }}
            {{ render_nav_item('base.contact', 'Contact') }}
            {{ render_nav_item('base.about', 'About') }}
            {{ render_nav_item('base.login', 'Log in') }}
          </ul>
        </div>
      </div>
    </nav>

    <main class="content">{% block content %}{% endblock %}</main>
  </div>
  <footer id="page-footer" class="navbar">
    <div class="footer-content container-fluid">
      <ul class="nav">
        <li>created by: <strong>Michal&nbsp;Hoľa</strong></li>
        <li>updated: <strong>29.12.2014</strong></li>
      </ul>
    </div>
  </footer>
</body>
</html>
