<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gamatex: {% block title %}{% endblock %}</title>
  {% block styles -%}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" media="all">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-basic.css') }}" media="all">
  {%- endblock %}
  {%- block scripts %}
  {% endblock -%}
</head>
<body id="{% block body_id %}g.body_id{% endblock %}">
  <div id="content-wrapper">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="">
          <ul class="nav">
            <li class="{{ g.navigation['home'] }}">
              <a href="{{ url_for('base.home') }}">Home</a>
            </li>
            <li class="{{ g.navigation['products'] }}">
              <a href="{{ url_for('products.index') }}">Products</a>
            </li>
            <li class="{{ g.navigation['order'] }}">
              <a href="{{ url_for('order.index') }}">Order</a>
            </li>
            <li class="{{ g.navigation['contact'] }}">
              <a href="{{ url_for('base.contact') }}">Contact</a>
            </li>
            <li class="{{ g.navigation['about'] }}">
              <a href="{{ url_for('base.about') }}">About</a>
            </li>
            <li class="{{ g.navigation['login'] }}">
              <a href="{{ url_for('base.login') }}">Log in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="content">{% block content %}{% endblock %}</main>
  </div>
  <footer id="page-footer" class="navbar">
    <div class="footer-content container-fluid">
      <ul class="nav">
        <li>created by: <strong>Michal&nbsp;Hoľa</strong></li>
        <li>updated: <strong>29.12.2014</strong></li>
      </ul>
    </div>
  </footer>
</body>
</html>
