{% extends "base.html" %}
{% block title %}Income{% endblock %}
{% block body_id %}income{% endblock %}
{% set active_page = 'base.about' %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/income.js') }}"></script>
  <script type="text/javascript">
    google.load('visualization', '1.1', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
  </script>
{% endblock %}

{% block content %}
  <h1>Daily Income</h1>
  <div class="income-chart"></div>
{% endblock %}
