{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block body_id %}login{% endblock %}
{% set active_page = 'base.login' %}

{% block content %}
  <div class="loginform-container">
    <div class="loginform col-sm-6">
      <div class="form-caption-container">
        <h2>Sign in</h2>
      </div>
      <form method="post" autocomplete="on" action="{{ url_for('base.login') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group{% if form.username.errors %} has-error has-feedback{% endif %}">
          <label class="col-sm-4 control-label" for="username">Username</label>
          <div class="col-sm-8">
            <input id="username" name="username" type="text" placeholder="Enter username" class="form-control" tabindex="1"/>
            {% if form.username.errors %}
              <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
              <span id="username-error-status" class="sr-only">
                {%- for error in form.username.errors -%}
                  {{ error }}
                {%- endfor -%}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="form-group{% if form.password.errors %} has-error has-feedback{% endif %}">
          <label class="col-sm-4 control-label" for="password">Password</label>
          <div class="col-sm-8">
            <input id="password" name="password" type="password" placeholder="Enter password" class="form-control" tabindex="2"/>
            {% if form.password.errors %}
              <span class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
              <span id="username-error-status" class="sr-only">
                {%- for error in form.username.errors -%}
                  {{ error }}
                {%- endfor -%}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-default" type="submit" tabindex="3">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
