{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block body_id %}products{% endblock %}
{% set active_page = 'products.index' %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ellipsis.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
  <script>
    function open_product(product_id) {
        window.location.href = "products/" + product_id;
    }

    $(document).ready(function() {
        $('.description-wrapper p').ellipsis({
            row: 2
        });

        $('.product').click(function(event) {
            open_product($(this).data('id'));
        });

        $('.product').keypress(function(event) {
            if (event.keyCode == 13) {
                open_product($(this).data('id'));
            }
        });
    });
  </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for product in products -%}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail product" data-id="{{ product.id }}" tabindex="0">
          <img data-src="{{ image_placeholder_small }}" src="{{ image_url(product.image_name) }}" alt="{{ product.name }}">
          <div class="caption">
            <h3>{{ product.name }}</h3>
            <div class="description-wrapper">
              <p class="description">{{ product.description }}</p>
            </div>
          </div>
        </div>
      </div>

      {% if (loop.index % 2 == 0) or (loop.index % 3 == 0) -%}
        {%- set visibility_class = '' -%}
        {%- if (loop.index % 2 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-sm-block' -%}
        {%- endif -%}
        {%- if (loop.index % 3 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-md-block' -%}
        {%- endif -%}
        {%- if (loop.index % 4 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-lg-block' -%}
        {%- endif -%}
        <div class="clearfix {{ visibility_class }}"></div>
      {%- endif %}
    {%- endfor %}
  </div>
</div>

</div>
{% endblock %}
