{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block body_id %}products{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
        $('.description-wrapper p').ellipsis({
            row: 2
        });
    });
  </script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% set image_placeholder = 'holder.js/300x300/#333:#fff/text:missing image' %}
    {% for product in products -%}
      <div class="col-sm-6 col-md-4 product col-lg-3">
        <div class="thumbnail">
          <img data-src="{{ image_placeholder }}" src="{{ product.image_url }}" alt="{{ product.name }}">
          <div class="caption">
            <h3>{{ product.name }}</h3>
            <div class="description-wrapper">
              <p class="description">{{ product.description }}</p>
            </div>
            <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      {% if (loop.index % 2 == 0) or (loop.index % 3 == 0) -%}
        {%- set visibility_class = '' -%}
        {%- if (loop.index % 2 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-sm-block' -%}
        {%- endif -%}
        {%- if (loop.index % 3 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-md-block' -%}
        {%- endif -%}
        {%- if (loop.index % 4 == 0) -%}
          {%- set visibility_class = visibility_class + ' visible-lg-block' -%}
        {%- endif -%}
        <div class="clearfix {{ visibility_class }}"></div>
      {%- endif %}
    {%- endfor %}
  </div>
</div>

</div>
{% endblock %}
