{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block body_id %}products{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
        $('.description-wrapper p').ellipsis({
            row: 2
        });
    });
  </script>
{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/coat_uno_300x300.png') }}" alt="Khaki Coat">
      <div class="caption">
        <h3>Khaki Coat</h3>
        <div class="description-wrapper">
          <p class="description">
             Italian fabric. Slim fit.
             Main: 61% wool 28% polyester 6% acrylic 5% other fibres. Lining:
             100% polyester.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/sako_duo_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Waistcoat jacket</h3>
        <div class="description-wrapper">
          <p class="description">
             Traditional herringbone jacket with two-button fastening, centre
             vent, notch lapel, flap pockets, ticket pocket, under-collar
             contrast fabric and removable cotton pocket hanky. Finished off
             with a printed lining, complemented by a 100% cotton pocket
             square.

             Dry clean only.
             55% wool 45% polyester. Lining 100% polyester.
             Maximum 99% wool is used in these products and a minimum of 50%
             wool.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="clearfix visible-sm-block"></div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/trojka_300x300.png') }}" alt="Man's coat">
      <div class="caption">
        <h3>Compact Nylon Jacket</h3>
        <div class="description-wrapper">
          <p class="description">
             Essential jacket, designed in high-shine compact nylon to give a
             two-tone effect. Finished with black branded trim.

             This jacket is designed in high-shine compact nylon to give a
             two-tone effect. Finished with black branded trim.

             Main, lining and wadding 100% polyester.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="clearfix visible-md-block"></div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/wadded_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Wadded Jacket</h3>
        <div class="description-wrapper">
          <p class="description">
            Essential navy wadded jacket with contrast white zip detailing.

            100% polyester.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="clearfix visible-sm-block visible-lg-block"></div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/pea_coat_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Pea Coat</h3>
        <div class="description-wrapper">
          <p class="description">
          Contemporary pea coat that's a true outerwear staple. Complete with
          a double-breasted front panel and broad lapels, this slim-fit jacket
          will stick around for years to come. Designed with anchor brand
          buttons, versatile slashed pockets and enriched internals.

          Main: 60% wool 31% polyester 9% other fibres. Lining: 100% polyester.

          Maximum 99% wool is used in these products and a minimum of 50% wool.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/single_breasted_mac_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Single Breasted Mac</h3>
        <div class="description-wrapper">
          <p class="description">
          Versatile slim-fit mac that's a true outerwear staple. Complete with
          water-repellent outer fabric and featuring a single-breasted front
          panel and premium Corozo buttons, this jacket is enhanced with a
          wadded lining for extra warmth and will stick around for years to
          come.

          63% cotton 28% polyester 9% nylon. Lining 100% polyester.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="clearfix visible-xs-block visible-sm-block"></div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/tapue_covert_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Tapue Covert Coat</h3>
        <div class="description-wrapper">
          <p class="description">
            100% British wool.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 product col-lg-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300/#333:#fff/text:missing image" src="{{ url_for('static', filename='img/products/fleeced_anorak_300x300.png') }}" alt="...">
      <div class="caption">
        <h3>Fleeced Lined Anorak</h3>
        <div class="description-wrapper">
          <p class="description">
            Stylish red anorak with contrast white trim detailing and snug
            fleece lining.

            65% polyester 35% cotton. Upper lining 100% cotton. Sleeve and
            lower lining 100% polyester.
          </p>
        </div>
        <p><a href="#" class="btn btn-default" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>
</div>

</div>
{% endblock %}
