---

- name: Install
  apt: name=supervisor state=installed
  tags:
    - supervisor

- name: Create log directory
  file: path=/var/log/supervisor state=directory owner=root group=root
        mode=02775
  tags:
    - supervisor

- name: Configure
  template: src=supervisord.conf.j2 dest=/etc/supervisord.conf owner=root
        group=root mode=0664
  tags:
    - supervisor

- name: Start
  service: name=supervisor state=started enabled=yes
  tags:
    - supervisor
