[program:{{ project_name }}]
user=www-data
group=www-data
command=/usr/bin/uwsgi
    --socket 127.0.0.1:8080
    --master
    --processes 5
    --plugin python,http
    --log-date
    --py-autoreload 0
    --log-maxsize 0
    --max-requests 1000
    --buffer-size 32768
    --post-buffering 1
    --virtualenv {{ project_sources_dir }}/e
    --wsgi-file ={{ project_sources_dir }}/frontend/apache/wega.wsgi
    --touch-reload {{ project_sources_dir }}/frontend/apache/wega.wsgi
autostart=true
autorestart=true
stopwaitsecs=60
stopsignal=QUIT
redirect_stderr=true
stdout_logfile=/var/log/uwsgi/%(program_name)s.log
stdout_logfile_maxbytes=0
stdout_logfile_backups=0
